.stepmaindiv{
    margin-left: 100px;
    margin-right: 100px;
}
.buttondiv{
display:flex;
justify-content: space-around;
margin-top:100px;
}

.steps-content {
    min-height: 200px;
    margin-top: 20px;
    /* padding-top: 80px; */
    text-align: center;
    background-color: #fafafa;
     border: 1px dashed #e9e9e9; 
    border-radius: 2px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  .ant-steps-item-finish .ant-steps-item-icon {
    border: none;
    background-color:#128230;
    /* color: white; */
    background-size:-10px;
    

}

.ant-steps-item-icon {
    width:30px;
    height:30px;
    /* margin: 0 8px 0 0; */
    font-size: 16px;
    font-family:var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 20px/27px var(--unnamed-font-family-open-sans);
    line-height: 20px;
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    border-radius: 12px;
    transition: background-color 0.3s, border-color 0.3s;
}

html {
    --antd-wave-shadow-color:red !important;
    --scroll-bar: 0;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: white;
} 
::selection {
    color: #fff;
    margin-left: 100px;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    font-size:15px;
    transform: scale(0 0.2);
    transition:0.3s;
    border-bottom:5px solid #FAA81D;
    width:50px;
    color: #086288;
    font-weight: bold;
   
}
.ant-steps-item-title {
    margin-right: 0px;
    position: relative;
    display: inline-block;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    line-height: 32px;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon
    ,.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after 
    ,.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after ,.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    display: none;
}
.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    padding-left:0px;
    white-space:nowrap;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    font-weight: bold;
    color: #086288;
}
.ant-btn-primary {
    color: #fff;
    border-color:#086288;
    background:#086288;
    border-radius: 5px;
     text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%); 
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    border-color: #086288;
    background: #086288;
    border-radius: 5px;
}
.ant-btn {
    color: white;
    border-color: #086288;
    background: #086288;
    border-radius: 5px;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
    /* text-decoration: none; */
    background: #086288;
    color: white;
    border-radius: 5px;
}
.ant-steps-item-wait .ant-steps-item-icon {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
}
.stepbroder{
    display: flex;
    justify-content:space-evenly;
}
#btn{
    width:10%;
    height:40px;
}